PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://<YOUR_HOSTING_IP>:9000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=